@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'ralewaymedium', arial, sans-serif;
    width: 100%;
    margin: auto;
    
}

main {
    max-width: 1340px;
    height: normal;
    margin-left: 2rem;
}

header{
    display: flex;
    max-width: 1340px;
    margin: 0 auto;
    height: 135px;
}

#reservialogo {
    width: 100px;
    height: 45px;
}

#logo {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

nav {
   
}

nav ul {
    display: flex;
    list-style-type: none;
}


a:link {
    text-decoration: none;
}

.hebergements, .activités {
    color: black;
}

.hebergements {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}


.activités {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}


.sinscrire {
    color: #0065fc;
    font-weight: bold;      
}

#navbouton {
width: 40%;
display: flex;
justify-content: flex-end;
align-items: center;

}

.li1, .li2, .li3 {
    margin-right: 30px;
}



header nav li a:hover {
    color: #0065fc;
    border-top: solid #0065fc;
    
}

a.sinscrire:hover {
    border: none;
}

#search {
    display: flex;
    border: solid 0.5px #F2F2F2;
    width: 25rem;
    border-radius: 13px;
    overflow: hidden;
    margin-top: 10px;
    
}

#titre {
    display: flex;
    flex-direction: column;
}

#titre p {
    margin-top: 0px;
}
 #titre h1 {
     margin-bottom: 9px;
 }

 #filtres {
     display: flex;
 }

 i.fas.fa-map-marker-alt {
     width: 40px;
     height: 51px;
     background-color: #F2F2F2;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 input :hover {
 border: none;
 }

input {
    height: 51px;
    width: 230px;
    border: #F2F2F2;
    text-align: start;
    padding-left: 1rem;
    font-size: medium;
    color: black;
    font-weight: bold;
}

#search button {
    width: 133px;
    height: 51px;
    background-color: #0065fc;
    color: #F2F2F2;
    font-size: medium;
    font-weight: bold;
    border: none;
}

#sectionsearch {
    max-width: 1342px;
}

#filtres h2 {
        display: flex;
        font-size: 1.3em;
        margin-top: 2.5rem;
        align-items: center;
        margin-right: 1rem;
    }

#economique {
    border: solid 3px #F2F2F2;
    padding-right: 17px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 40px;
    height: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;


}

i.fas.fa-money-bill-wave {
min-width: 2.5rem;
    display: flex;
    justify-content: center;
    border: solid 0.5px #DEEBFF;
    background-color: #DEEBFF;
    min-height: 2.5rem;
    overflow: hidden;
    border-radius: 100%;
    align-items: center;
    color: #0065FC;
    margin-right: 1rem;
}

#familial {
    border: solid 3px #F2F2F2;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 40px;
    height: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

i.fas.fa-child {
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    border: solid 0.5px #DEEBFF;
    background-color: #DEEBFF;
    min-height: 2.5rem;
    overflow: hidden;
    border-radius: 100%;
    align-items: center;
    color: #0065FC;
    margin-right: 1rem;
}

#romantique {
    border: solid 3px #F2F2F2;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 40px;
    height: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

i.fas.fa-heart {
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    border: solid 0.5px #DEEBFF;
    background-color: #DEEBFF;
    min-height: 2.5rem;
    overflow: hidden;
    border-radius: 100%;
    align-items: center;
    color: #0065FC;
    margin-right: 1rem;
}

#animaux {
    border: solid 3px #F2F2F2;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 40px;
    height: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

i.fas.fa-dog {
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    border: solid 0.5px #DEEBFF;
    background-color: #DEEBFF;
    min-height: 2.5rem;
    overflow: hidden;
    border-radius: 100%;
    align-items: center;
    color: #0065FC;
    margin-right: 1rem;
}

#filtres div:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

i.fas.fa-info {
    width: 27px;
    border: 1px solid #F2F2F2;
    height: 27px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    margin-right: 10px;
}

#info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 1rem;
}

.hbtimg img {
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
    border: 5px solid inherit;
}

.hbt {
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-left: 30px;
    border: 7px solid white;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: 0 0 16px #0000002e
}

#accomodation {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
    
figure {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

article h2, article p {
    color: black;
}

article h2 {
    font-size: smaller;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

#accomodationsection {
    display: flex;
}

article p {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

i.fas.fa-star {
    color: #0065FC;
}

i.far.fa-star {
    color: #0065FC;
}

#etoileh {
    margin-top: 0.5rem;
}

.titre {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: initial;
}

.titre h1 {
    font-size: larger;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a#Afficherplus  {
    color: black;
    margin-left: 30px;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: small;
}

#populaires {
    width: 35%;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    background-color: #f2f2f2;
    margin-left: 2rem;
}

i.fas.fa-chart-line {
    margin-right: 2rem;
    font-size: x-large;
}

.ppl {
    width: 83%;
    display: flex;
    border: 7px solid white;
    border-radius: 15px;
    height: 10rem;
    margin-left: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 0 16px #0000002e

}

.pplimg {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 1rem;
}


#etoile {
    /*margin-top: 0.5rem;*/
    display: flex;
    align-items: stretch;
    height: 20%;
}

#ref {
    text-decoration: none;
    display: flex;
}

.hbtimg img {
    object-fit: cover;
}

.pplimg img {
    border-radius: 15px 0px 0px 15px;
    width: 10rem;
    height: auto;
    object-fit: cover;
}

#headeractivites {
    margin-top: 2rem;
    height: auto;
}

#headeractivites h1 {
    font-size: larger;
}

article#vieuxport {  
    height: 27rem; 
    width: 23%;
}

#headeractivites {
    margin-top: 2rem;
    height: auto;
}

#headeractivites h1 {
    font-size: larger;
}

.figvieuxport {
    height: 88%;
}


#sectionactivites h2 {
    margin-left: 1rem;
    margin-top: 1rem;
}

#sectionactivites figure img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

#sectionactivites {
        display: flex;
        flex-wrap: wrap;
}

#sectionactivites article {
    border-radius: 15px 15px 15px 15px;
    
    box-shadow: 0 0 16px #0000002e;
    margin-right: 2.5rem;
}

article#calanques {  
    height: 27rem;
    width: 23%;
}

.figcalanques {
     height: 88%;
}

.column {
    width: 24%;
    display: flex;
    flex-direction: column;
    height: 27rem;
}

.column2 {
        width: 22%;
        display: flex;
        flex-direction: column;
        height: 27rem;
}

#pomegues {
    margin-bottom: 2rem;
}

.figpomegues {
    height: 12rem;
}

.figfrioul {
    height: 8rem;
}

#notredame {
    margin-bottom: 2rem;
}

.fignotredame {
    height: 10rem;
}

.figlongchamps {
    height: 10rem;
}

article#notredame  {
    margin-right: 0px;
}

article#longchamps {
    margin-right: 0px;
}

footer {
    display: flex;
    background-color: #f2f2f2;
    justify-content: flex-start;
    /*max-width: 1400px;*/
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 1rem;
    width: 100%;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-size: larger;
}

footer div {
    margin-left: 2rem;
    margin-right: 14rem;
}

footer div a {
    color: black;
    margin-bottom: 0.5rem;
}

i.fas.fa-search {
    display: none;
}

@media screen and (max-width: 576px)
{

    main {
        margin-left: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    header nav {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        justify-content: center;
    }


    header nav .li1:hover, header nav .li2:hover {
        border-bottom: 3px solid #0065fc;
    }

    header nav li a:hover {
        border-top: none;
    }

    .li3 {
        border-bottom: none;
    }

    #sectionsearch {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;

    }

    #search {
        width: auto;
    }

    #filtres {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }

    #filtres h2 {
        width: 100%;
    }

    #economique, #familial, #romantique, #animaux {
        margin-top: 1rem;
    }

    #accomodationsection {
        display: flex;
        flex-direction: column-reverse;
        width: auto;  
    }

    #accomodation {
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
    }

    #populaires {
        width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    border-radius: 0px;
    }

    

    #sectionactivites {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .titre h1 {
        justify-content: start;
        margin-left: 3rem;
    }

    .hbt {
        width: 80%;
        margin-left: 0px;
    }

    #sectionactivites article {
        width: 80%;
        margin-right: 0px;
        margin-bottom: 2rem;
        height: 13rem;
    }

    #sectionactivites {
        display: flex;
        align-items: center;
    }

    .column, .column2 {
        width: 100%;
        align-items: center;
        margin-bottom: 2rem; 
    }

    #headeractivites h1 {
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

    a#Afficherplus {
    margin-left: 3.5em;
    width: -webkit-fill-available;
    margin-bottom: 0;
    }

    article#vieuxport, article#calanques {
        height: 13rem;
    }

    .figvieuxport, .figcalanques {
        height: 78%;
    }

    .figpomegues, .figfrioul {
        height: 10rem;
    }

    i.fas.fa-search {
        display: block;
    }

    span {
        display: none;
    }

    #search button {
        width: 3.5rem;
        border-radius: 15px;
    }

    #sectiondiv {
        display: flex;
        width: 576px;
        justify-content: center;
    }

    i.fas.fa-map-marker-alt {
        width: 3.5rem;
    }

    #search input {
        width: 280px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
    }

    #navbouton {
        position: absolute;
        width: 100%;
    }

    #logo {
        align-items: flex-start;
        margin-top: 1rem;
        margin-left: 2rem;
    }

    header nav {
        display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    flex-direction: row;
    }



    #navbouton nav li {
        width: 50%;
    }

    .li1, .li2 {
        margin: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        border-bottom: solid #f2f2f2;
    }

    

    .li3 {
        display: flex;
    justify-content: flex-end;
    margin: 0;
    height: 2rem;
    align-items: center;
    margin-right: 1rem;
    margin-top: 1rem;
    }

    #sectionsearch {
        margin-top: 2rem;
    }

    #search {
        margin-top: 1rem;
        margin-right: 1.5rem;
    }

    #filtres h2 {
        margin-bottom: 0px;
    }

    .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    }

    .ppl {
        margin-left:0;
    }

    #info {
        margin-bottom: 1rem;
    }
}

@media all and (min-width: 576px) and (max-width: 992px) {

    main {
        margin-left: 0px;
    }

    #sectionsearch {
        margin-left: 2rem;
    }
    #search {
        width: 25rem;
    }

    #filtres {
        flex-wrap: wrap;
    }

    #filtres h2 {
        width: 100%;
        margin-bottom: 0;
    }

    #economique, #familial, #romantique, #animaux {
        margin-top: 1rem;
    }

    #accomodationsection {
        flex-direction: column-reverse;
    }

    #accomodation {
        width: 100%;
        background-color: white;
    }

    #populaires {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }

    .hbt {
        width: 40%;
    }

    #activites {
        margin-left: 2rem;
    }

    #sectionactivites {
        width: 100%;
    }

    #sectionactivites article {
        width: 45%;
    }

    #vieuxport {
        margin-bottom: 2rem;
    }

    .column, .column2 {
        width: 45%;
    }

    article#pomegues, article#frioul, article#notredame, article#longchamps {
        width: 100%;
    }

    footer {
        justify-content: space-between;
    }

    footer div {
        margin-right: 0;
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    #search {
        width: 25rem;
    }
}